# .gitignore to keep just specified files
#########################################

# Filter everything...
*

# ... except the .gitignore...
!.gitignore

# ... and all specified dirs.
!output_images
!model_data
!processed_data
!input_images